# Configuration created by Apache Sling JCR Installer
excludedComponentProperties=["invest-india/components/page/new-home-page\=sih_customcss,ogDescription","invest-india/components/content/form-fields/columncontrol\=colRatio"]
excludedProperties=["jcr:.*","cq:.*"]
excludedPages=["/content/sih/en/support"]
excludedComponents=["invest-india/components/content/scheme-card-display"]
