# Configuration created by Apache Sling JCR Installer
excludedComponentProperties=["invest-india/components/page/new-home-page\=sih_customcss,ogDescription","invest-india/components/content/form-fields/columncontrol\=colRatio"]
serviceDisabled=B"false"
excludedProperties=["jcr:(?!title)(.*)","cq:.*"]
excludedPages=["/content/sih/en/support"]
excludedComponents=["invest-india/components/content/scheme-card-display"]
excludedContainerComponents=["invest-india/components/content/row-container\=heading","wcm/foundation/components/parsys"]
