# Configuration created by Apache Sling JCR Installer
excludedComponentProperties=[""]
serviceDisabled=B"false"
excludedProperties=["jcr:(?!title)(.*)","cq:.*","sling:.*"]
excludedPages=[""]
excludedComponents=[""]
excludedContainerComponents=["invest-india/components/content/row-container\=heading","wcm/foundation/components/parsys","invest-india/components/content/columncontrol"]
